/* background-color: #4a4c5dca;  background-color: #242944f0; */



/* #11151c */
/* #212d40 */
/* #364156 */
/* #7d4e57 */
/* #d66853 */
:root {

    /* topnav */
    --light-primary-bg-color: #0b132b; 
    --dark-primary-bg-color: #0b132b;

    /* cards actives backgrounds */
    --light-primary-light-color: #0b132b;
    --dark-primary-light-color: #5bc0be;
    /* skils text color */
    --light-skils-text-color: #ffffff;
    --dark-skils-text-color: #0b132b;
    /* bars color */
    --light-brackground-bars: #3a506b;
    /* texto de nav bar  */
    --light-primary-text-color: #ffffff;
    /* background */
    --light-secondary-bg-color: #ffffff;
    --dark-secondary-bg-color: #0b132b;
    /* topnav button */
    /* background */
    --light--actions-color: #1c2541c8; 
    /* color  */
    --light-secondary-light-color: #5bc0be;
    /* profile name  */
    /* color */
    --profile--name-color: #0b132b;     
    --dark-profile--name-color: #5bc0be;   
    /* messages colors */
    --message-send-color: #3a506b;
    --message-receiver-color: #0b132b;
    --dark-message-send-color: #5bc0be;
    --dark-message-receiver-color: #3a506b;

    /* background chats color */
    --light--chats-background-color: #5bc0be; 
    --messages-border-color:  #22241e00;
    --dark--chats-background-color: #3a506b; 


    /* linkeding buttons */
    --light-active-linkedin-buttons: #5bc0be ; 
    --light-color-linkedin-buttons: #0b132b ; 
    /* maximizar and minimizar buttons */
    --light-original-max-buttons: #ffffff; 
    --light-active-max-button: #6fffe9;
    --light-active-color-buttons: #000000; 
    --light-hover-max-buttons:#6fffe9; 
    /* pages navs */
    /* hover background */
    --light-nav-hover-brackground: #6fffe9; 
    /* hover color */
    --light-nav-hover-color: #0b132b; 
    --light-tertiary-bg-color: #ffffff;
    --light-tertiary-light-color:#ffffff;
    --dark-tertiary-light-color:#1c2541;

    /* profile title color */

    --light-tertiary-dark-color:  #1c2541;
    --dark-tertiary-dark-color:  #ffffff;


    --profile-title-hover: #d0ff00; 


    /* pages navegations  */
    --dark-nav-dark-color: #3a506b ; 
    --dark-nav-active-color: #5bc0be ; 
    --dark-nav-active-text: #0b132b ; 
    --dark-nav-first-color: #1c2541 ; 

    --linked-text-color:#3a506b; 
    --dark-linked-text-color:#6fffe9; 


    /* footer */

    --footer-color-text:  #0b132b ; 
    --dark-footer-color-text: #6fffe9; 
  }


.linked-text-color{
    color: var(--linked-text-color);
    text-decoration: none;
}

.dark-linked-text-color{
    color: var(--dark-linked-text-color);
    text-decoration: none;
}


.footer-color-text{
    color: var(--footer-color-text);

}

.dark-footer-color-text{
    color: var( --dark-footer-color-text);
 
}

.card-1-max-size{
    /* height: 550px; */
    height: 150px;
}


  img{
    border-radius: 20px !important;
    height: 420px;

  }

  body {
    font-family: "Montserrat", sans-serif !important;
}
nav{
    position: fixed !important;
    width: 100vw;
    z-index: 10;
}

header{
    margin-top: 100px !important;
}

.btn-dark{
    background-color: var( --light--actions-color);
    color: var( --light-secondary-light-color);
}


.card{
    background-color: var(--light-secondary-bg-color);
    -webkit-box-shadow: 0px 0px 38px -24px var(--light-secondary-dark-color);
    -moz-box-shadow: 0px 0px 38px -24px var(--light-secondary-dark-color);
    box-shadow: 0px 0px 38px -24px var(--light-secondary-dark-color);
}

.card-dark{
    background-color: var(--dark-tertiary-light-color);
    -webkit-box-shadow: 0px 0px 38px -24px var(--dark-secondary-dark-color);
    -moz-box-shadow: 0px 0px 38px -24px var(--dark-secondary-dark-color);
    box-shadow: 0px 0px 38px -24px var(--dark-secondary-dark-color);
}

.card-first-color{

    background-color: var(--light-secondary-bg-color) !important;

}

.dark-card-first-color{

    background-color: var( --dark-nav-first-color) !important;

}

.w-text{
    color:white !important;
}


.dark-text{
    color : var(--message-send-color) !important
}

.card-second-color{
    background-color: var(--light-tertiary-light-color);
    color:var(--light-tertiary-dark-color);

}
.dark-card-second-color{
    background-color: var(--dark-tertiary-light-color) !important;
    color:var(--dark-tertiary-dark-color) !important;

}


.card-active-color{
    background-color: var(--light-primary-light-color);
    color:var(--light-skils-text-color);

}
.dark-card-active-color{
    background-color: var(--dark-primary-light-color) !important;
    color:var(--dark-skils-text-color);

}


.bar-color{
    background-color: var(--light-brackground-bars);


}

.nav-color{
    background-color: var(--light-primary-bg-color);
 
}
.dark-navbar{
    background-color: var(--dark-primary-bg-color);
 
}


.navbar-brand{
    color: var( --light-primary-text-color);
}
.navbar-brand:hover{
    color: var(--light-tertiary-light-color);
}



.bg-dark{
    color: whitesmoke;
    transition: all 1.5s;
    /* background-color: black !important; */
}

 .bg-dark-wall{
    /* color: whitesmoke; */
    transition: all 1.5s;
    background-color: var( --dark-secondary-bg-color) !important;
    height: 100%;
    min-height: 100vh;
}
.bg-light-wall{
    transition: all 1.5s;
    background-color: var( --light-secondary-bg-color) ;
    height: 100%;
    min-height: 100vh;

}

.bg-dark-wall-portfolio{
    /* color: whitesmoke; */
    transition: all 1.5s;
    background-color: var( --dark-secondary-bg-color) !important;
    height: 100%;
}

.overflow{
    height: 50%;
    overflow: hidden;
}

.overflow .card-img-top{
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.text-night{
    transition: all 1.5s;
    color: whitesmoke;
}

.overflow .card-img-top:hover{
    transform: scale(1.5);
}

#nprogress .bar {
    background: rgb(88, 0, 195) !important;
}

#nprogress .spinner-icon {
    border-top-color: rgb(88, 0, 195) !important;
    border-left-color: rgb(88, 0, 195) !important;
}


.flex{
    display: flex ;
    /* background-color:aliceblue ; */

}

.flex >  div > h5 {
    
    /* background-color: rgb(228, 228, 228); */
    border-radius: 20px;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;

} 

.push {
    margin-left: auto;
    /* background-color: brown; */
}

.btnrounded{
    border-radius: 20px;
}

.githubcard{
    padding-bottom: 250px;
    padding-top: 100px;
}

.messages-box{

    height: 100%;
    width: 100%;
    border-radius: 20px;

}


.messages-color{
    border : var( --messages-border-color) solid 0.4px ;

    background-color:var(--light--chats-background-color);
}
.messages-dark-color{
    border : var( --messages-border-color) solid 0.4px ;
    background-color:var(--dark--chats-background-color);
}

.messages-header{
    /* border : rgb(255, 150, 127) solid 1px ; */
    padding-left: 10px;
     /* background-color:#2d3357cf; */

     display: flex;
     align-items: flex-start;
     padding-top: 10px;
     border-top-left-radius:20px;
     border-top-right-radius:20px;
}

.head-profile{
    align-self: center;
    width: 50%;
    padding-left: 0px;
    font-weight: bold;
    font-size: 13px;
    color:rgb(24, 228, 184);
    /* background-color: red; */
    text-align: right;
    padding-right: 30px;
    font-size: 18px;
  }


.head-profile-dark{

    color:rgb(24, 228, 184) !important;
  
  }
  .head-profile-color{

   
     color: var(--light-tertiary-dark-color);
  }

  /* .head-profile:hover{
    align-self: center;
    width: 50%;
    padding-left: 0px;
    font-weight: bold;
    font-size: 13px;
    color: var(--profile-title-hover);

    text-align: right;
    padding-right: 30px;
    font-size: 18px;
   
    text-decoration: underline;
    cursor: pointer;
  } */


.messages-header > h1 {
    font-weight: 600;
    
}

.head-name{
    width: 50%;
    color: var(--profile--name-color);
    font-weight: bold !important;
    font-size: 27.89px !important;
    padding-left: 10px;
}

.dark-head-name{
    width: 50%;
    color: var(--dark-profile--name-color);
    font-weight: bold !important;
    font-size: 27.89px !important;
    padding-left: 10px;
}

.messages-content{
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* border : rgb(255, 150, 127) solid 1px ; */
    background-color: var(--light-secondary-bg-color);
    /* border-radius: 30px; */
    height: 60%;
    padding-left: 30px;
    padding-right: 30px;

    min-height: 200px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;

    padding-top: 50px;
    padding-bottom: 50px;

    margin-bottom: 20px;

    border-radius: 5px;
}
.dark-messages-content{
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* border : rgb(255, 150, 127) solid 1px ; */
    background-color: var(--dark-secondary-bg-color) !important;
    /* border-radius: 30px; */
    height: 60%;
    padding-left: 30px;
    padding-right: 30px;

    min-height: 200px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;

    padding-top: 50px;
    padding-bottom: 50px;

    margin-bottom: 20px;
    border-radius: 5px;
}



.button-learn-more{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
}

.button-learn-more:hover{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
    background-color:  rgb(24, 228, 184);;
    transition: all 1s;
    border: solid 1px #242944f0;
}


.learn-box{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.message-send{
    border-radius: 15px;
    font-size: 19px;
    margin-left: 60px;
    margin-right: 10px;

    padding: 12px;
    padding-top: 10px;
    margin-top:20px;
    transition: all 1s;

    /* width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite; */

    animation: transparency1 1.5s forwards
}

.message-received{
    border-radius: 15px;
    font-size: 19px;
    margin-left: 10px;
    margin-right: 60px;

    padding: 12px;
    padding-top: 10px;
    margin-top:20px;
    transition: all 1s;

    
    /* width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite; */

    animation: transparency 1.5s forwards
    
}
.typed {
    overflow: hidden;
    white-space:wrap;
    /* border-right: 2px solid; */
    width: 0;
    animation: typing 1.5s forwards, blinking 1s infinite;
  }


.message-send-color{
    animation: transparency1 1.5s forwards
}

.dark-message-send-color{
    animation: darktransparency1 1.5s forwards
}


.message-received-color{
    animation: transparency 1.5s forwards
}
.dark-message-received-color{
    animation: darktransparency 1.5s forwards
}




@keyframes typing {
    from { width: 0; color: transparent; }
    to { width: 100% ; color: aliceblue; }
  }

  @keyframes transparency1 {
    from { background-color: transparent; }
    to {   background-color:var(--message-send-color); }
  }

  @keyframes transparency {
    from { background-color: transparent; }
    to {  background-color:var(  --message-receiver-color); }
  }

  @keyframes darktransparency1 {
    from { background-color: transparent; }
    to {   background-color:var(--dark-message-send-color); }
  }

  @keyframes darktransparency {
    from { background-color: transparent; }
    to {  background-color:var(  --dark-message-receiver-color); }
  }


@keyframes blinking {
    /* 0% {border-color: transparent}
    50% {border-color: black}
    100% {border-color: transparent} */
  }
  

.buttons-flex{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: #242944f0; */
  
}
.buttons-flex-center{
    display: flex;
    justify-content: center !important;
    align-items: center;
    /* background-color: #242944f0; */
  
}

.btn-rounded{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #242944f0; 
    color: #242944f0;
    padding: 0.1px;
    background-color: var(--light-original-max-buttons) ;
    transition: all 0.34s;


}

.btn-rounded-big{
    width: 55px;
    height: 34px; 
    border-radius: 10px;
    border: solid 1px #242944f0; 
    /* background-color: #ffffff; */
    padding: 0.1px;

    transition: all 0.34s;


}
.btn-rounded-big:hover{
    width: 55px;
    height: 34px;
    border-radius: 10px;
    border: solid 1px #242944f0; 
    color: #242944f0;
    background-color: whitesmoke;
    padding: 0.1px;
}


.btn-rounded-big > svg {
    width: 21px !important;
    height:21px !important;
    


}



.animate__fadeIn{
    transition: all 1.5s !important;
    /* background-color: aqua !important; */
}

.btn-rounded:hover{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #242944f0; 
    color: #442424f0;
    background-color: var(--light-hover-max-buttons) !important;
    padding: 0.1px;
}


.btn-rounded > svg{
margin: 0;
/* padding: 0.1px; */
/* color: red; */
/* background-color: red; */
/* width: 30px !important;
height: 30px !important; */

}

.blues{
    /* background-color: red !important; */
}
.m1{
    margin-right:10px; 
}

.btn-active-top-card{
    background-color: var(--light-active-linkedin-buttons);
    color: var(--light-color-linkedin-buttons);
}

.btn-active{
    background-color: var(--light-active-max-button) !important;
    color: var(--light-active-color-buttons);
}


.btn-inactive{
    color: #442b24f0;
    padding: 0.1px;
    background-color: var(--light-original-max-buttons) !important;
}


.m-top-1{
    margin-top:10px;
}

.display-block{
    display: none;
}

.display-flex{
    display: flex;
  
}
.display-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  
}




.nav-page{
    width: 200px;
    height: 27px;
      background-color: var(--light-secondary-dark-color);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:20px;
    border: 1px solid rgba(0, 0, 0, 0.531);
    color: var(--light-primary-bg-color);
    cursor: pointer;
}
.dark-nav-page{
    width: 200px;
    height: 27px;
      background-color: var(--dark-nav-dark-color);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:20px;
    border: 1px solid rgba(0, 0, 0, 0.531);
    color: var(--light-primary-bg-color);
    cursor: pointer;
}



.color-active{
    background-color: var(--light-primary-light-color) !important;
}

.dark-color-active{
    background-color: var( --dark-nav-active-color) !important;
    color: var( --dark-nav-active-text) !important; ;
}


.nav-page:hover{
    width: 200px;
    height: 27px;
      background-color: var(--light-nav-hover-brackground) !important;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:20px;
   border: 1px solid rgba(0, 0, 0, 0.531);
   color: var(--light-nav-hover-color) !important;
   cursor: pointer;
   z-index: 10;
}

.active-page{
    background-color: var(--light-tertiary-light-color);
    font-weight: bold;
    color: rgb(253, 253, 253);
}

.firts-page{
    z-index: 5;
}
.second-page{
    z-index: 4;
    margin-left: -10px;
}
.third-page{
    z-index:3;
    margin-left: -10px;
}

.active-page{
    background-color:#242944f0;;
    font-weight: bold;
    color: rgb(253, 253, 253);
}

.max-height-1{
    max-height: 625px;
    overflow-y: auto;
}
.padding-top0{
    /* padding-top:0px; */
    margin-top: -10px;
}


.pding-1{
    padding-left: 17px;
    padding-top:17px;
}
.border-top-radius-0{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.border-top-radius-1{
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
}
.border-top-radius-2{
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
}
.border-bottom-radius-1{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;

}
.border-bottom-radius-2{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;

}

.border-bottom-radius-0{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.red{
    /* background-color: #242944f0;; */
}

.chart-open{
    width: 900px !important;
    height: 900px !important;
    /* background-color: aqua; */
}

.chart-box{
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid 1px #515258f0;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top:10px;
}

@media (max-width: 720px) {
    .responsive-border-open-card{
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
    .m-responsive {
        margin-top: 16px;
    }
    .border-top-radius-0{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .border-top-radius-1{
        border-top-left-radius: 20px;
        border-top-right-radius:  20px;
    }
    .border-top-radius-2{
        border-top-left-radius:  20px;
        border-top-right-radius: 20px;
    }
    .border-bottom-radius-1{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
    .border-bottom-radius-2{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
    
    .border-bottom-radius-0{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .buttons-flex-center{
        display: flex;
        justify-content: center !important;
        align-items: center;
        margin-bottom: 10px;
        margin-top:10px;
      
    }



    .chart-open{
        width: 90vw !important;
        height: 45vh !important;
        /* background-color: aqua; */
    }
    .chart-box{
        /* background-color: rgb(0, 0, 0); */
        display: flex;
        align-items: center;
        justify-content: center;
        border:solid 1px #00000000;
        border-radius: 20px;
        padding-bottom: 10px;
        padding-top:10px;
    }
    
    .navbar-toggler{
        /* display: block !important; */
        /* background-color: red !important; */
        border: solid 1px rgba(255, 0, 0, 0);
    }



        .message-send{
            border-radius: 15px;
            font-size: 19px;
            margin-left: 15px;
            margin-right: 10px;

            padding: 12px;
            padding-top: 10px;
            margin-top:20px;
            transition: all 1s;

            width: 250px;
           
        }

        .message-received{
            font-size: 19px;
            margin-left: 0px;
            margin-right: 10px;

            padding: 12px;
            padding-top: 10px;
            margin-top:20px;
            transition: all 1s;

            width: 250px;
            animation: transparency 1.5s forwards
        

            
    
            
        }

  }
